@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  min-height: 100vh;
  min-height: 100dvh;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --theme-mode: var(--light-icon-color);
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --destructive: 359 81% 65%;
    --destructive-foreground: 210 40% 98%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 9%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --theme-mode: var(--dark-icon-color);
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 359 81% 65%;
    --destructive-foreground: 210 40% 98%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 0 0% 100%;
  }
}

.group:hover {
  background-color: var(--hover-bg);
}